.main_heading{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
#heading-1{
    font-family: var(--bs-font-sans-serif);
    box-sizing: border-box;
    font-size: calc(1.525rem + 3.3vw);;
}
#change-text{
    font-size: large;
    box-sizing: border-box;
    
}
#img1{
    min-width: 230px;
    width: 100%;
}
#new{
    background-image: url(../images/new.svg);
    background-repeat: no-repeat;
    background-position: top;
    margin-top: -30px;
    height: 380px;
}
.Link_{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.Link_:hover{
    text-decoration: none;
    color: white;
}
.quote{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding-top: 78px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
#learn{
    border-radius: 10px;
    display: block;
    margin: auto;
    width:180px;
    height:46px;
    line-height: 18px;
    background: linear-gradient(to left top, #a736e9 , #308aff );
    box-shadow: 1px 1px 4px gray;
    border-style: none;
    color:#fff;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
#learn span{
    position: absolute;
    display: block;
}
#learn span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(226, 67, 67, 0), #dbc65a);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
#learn span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
#learn span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

#learn span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

#learn:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
#learn:hover span{
    animation-play-state: paused;
}





#recent{
    text-align: center;
    width: 100%;
    font-size: 22px;

}
#posts{
    margin-top: 10px;
    margin-bottom: 10px;
}
#img__{
    overflow: hidden;
}
#img_posts{
    display: block;
    transition: transform .4s; 
}
#img_posts:hover{
    transform: scale(1.3);
    transform-origin: 50% 50%;  
}